name: Terracreds

on:
  pull_request:
    branches:
    - main
  push:
    tags:
      - '*'

jobs:
  test-mac:
    name: Test macOS
    runs-on: macos-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.19
      id: go
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Run tests
      run: cd cmd && go test -v -cover
  goreleaser:
    if: startsWith(github.event.ref, 'refs/tags/v')
    name: Release
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.19
      id: go

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GO_TOKEN }}